.listing-skeleton {
  width: 100%;
}

.listing-skeleton .image {
  height: 12rem;
}

.card-skeleton {
  height: fit-content;
}

.card-skeleton .image {
  height: 5rem;
  width: 100%;
  max-width: 12rem;
}

.side-image {
  height: 5rem;
}

.listing-skeleton .avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.listing-skeleton .text-section {
  flex-grow: 1;
}

.listing-skeleton .text-section .text {
  height: 10px;
  width: 100%;
}
