.categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title-text {
  border-left: none;
  border-right: none;
  border-bottom: none;
  padding-left: 1rem;
  border-top: 2px solid var(--font-white-100);
}

.title-text span {
  margin-inline: 5px;
}

.categories {
  margin-bottom: 10px;
  display: grid;
  gap: 10px;
  width: 100%;
  max-width: 1350px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

@media screen and (max-width:768px) {
  .categories{
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  }
}