.password{
  height: 2rem;
  position: relative;
}

.show-password{
  position: absolute;
  top: 8px;
  right: 12px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--font-white-100);
  font-size: 1.3rem;
}