
.categories-chip-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.date-sort {
  outline: none;
  font-size: 1.2rem;
  border: 1px solid var(--font-white-500);
  background: transparent;
  color: var(--font-white-100);
  padding: 5px 10px;
  border-radius: 4px;
}

.date-sort > option {
  background-color: var(--bg-primary-100);
  border: none;
  outline: none;
}

@media screen and (max-width:768px) {
  .date-sort, .categories-chip-container .chip{
    font-size: 12px;
  }

  .categories-chip-container{
    gap: 8px;
  }

}