.video-listing-container {
  min-height: 100vh;
}

.categories-chip-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
}

.date-sort {
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--font-white-500);
  background: transparent;
  color: var(--font-white-100);
  padding: 5px 10px;
  border-radius: 4px;
}

.date-sort > option {
  background-color: var(--bg-primary-100);
  border: none;
  outline: none;
}

.video-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 16px;
  place-items: center;
  padding: 0 0 10px 0;
}

.sort-items{
  gap: 10px;
  padding: 10px 16px;
}

@media screen and (max-width: 768px) {
  .date-sort,
   .chip {
    font-size: 10px;
  }
  
  .categories-chip-container {
    gap: 5px;
  }
  .video-listing {
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  }
  .sort-items{
    gap: 5px;
    padding: 5px 8px;
  }
}
