.msg-text {
  font-size: 1rem;
}
.empty-data-container .responsive-img {
  width: 30rem;
}

.link {
  background-color: var(--bg-primary-200);
  padding: 5px 10px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .msg-text {
    font-size: 0.9rem;
  }
  .empty-data-container .responsive-img {
    width: 15rem;
  }
  .link {
    font-size: 12px;
  }
}
