@import url("/node_modules/mockman-js/dist/style.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-primary-100: #414141;
  --bg-primary-200: #252525;
  --font-white-100: #f8f9fa;
  --font-white-300: #dee2e6;
  --font-white-500: #adb5bd;
  --black-transparent-1: #000000d4;
  --black-transparent-2: #00000081;
  --black-transparent-3: #0000009b;

  --red-1: #ff0000;
  --red-2: #af0404;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: var(--font-white-100);
  background-color: var(--bg-primary-100);
  transition: all 0.2s ease-in-out;
}

.main-container {
  flex-grow: 1;
  overflow-y: auto;
  margin-top: 3rem;
  padding: 20px 10px;
}

a {
  text-decoration: none;
  color: var(--font-white-100);
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: var(--font-white-500);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--font-white-100);
}
@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }
  .App {
    flex-direction: column-reverse;
    gap: 0;
  }

  .main-container {
    padding: 10px;
    height: calc(90vh - 5rem);
  }
}

.btn {
  margin: 0;
  box-shadow: none;
  transition: background-color 0.1s ease-in-out;
}

.btn:hover {
  transition: background-color 0.1s ease-in-out;
}

.btn-primary {
  background-color: var(--bg-primary-200);
  color: var(--font-white-100);
}

.btn-primary:hover {
  background-color: var(--bg-primary-100);
}

.btn-secondary {
  background-color: var(--font-white-100);
  color: var(--bg-primary-100);
}

.btn-secondary:hover {
  background-color: var(--font-white-300);
  color: var(--black);
}
